* {
box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 16px;
	margin: 0;
	color: black;
	background-color: #FFF5E8;
}

#wrapper {
	margin: 0 auto;
	padding: 10px;
	background-color: ;
	max-width: 850px;
	min-width: 300px;
}

#header {
	background: url('../kepek/maglya.jpg');
	margin: 0;
	height: 250px;
	width: 100% ;
}

h1, h2{
	display: block;
	color: orange;
}

#section {
	margin: 10px;
	text-align: justify;
}

.bal {
	float: left; 
	margin: 5px 20px 10px 20px;
	max-width: 300px;
}

.jobb {
	float: right;
	margin: 0 0 10px 20px;
	max-width: 300px;
}

img {
	max-width: 300px;
	height: auto;
	border: 5px;
	border-color: white;
	background-color: white;
	
}

ul {
	list-style-image: url('../kepek/jel.png');
	margin-top: 5 px;
	display: block;
	list-style-type: disc;
}

li {
	line-height: 32px;
}

#footer {
	background-color: #FFEBD0;
	border-style: solid;
	border-width: 5px;
	border-color: #FFEBD0;
	
	
}